/// <reference path="../base/config.scss" />
/// <reference path="../base/mixins.scss" />

// Buttons
//
// description: A standard button in this library
//
// state: :hover - Highlights when hovered.
// state: :disabled - Dims the button when disabled.
// state: .block - button that takes the full width of the parent container.
// state: .small - a smaller version of the stanadard button

// markup:
// <button> This is a button</button>

.button {
    font-family: $segoe-UI-regular;
    @include button($corp-color);
}
.button-block{
  @include button($corp-color);
  width: 100%;
}
.button-small{
  @include button($corp-color);
  padding: 6px 10px;
}