// <reference path="../base/config.scss" />
// <reference path="../base/mixins.scss" />

// =================================================================== 
// $Banners - Banner styles for news announcements
// ===================================================================

.default-banner {
  color: $brand-gray-lt;
  margin-top: 20px;
  margin-bottom: 10px;
}

.banner-line {
  color: $brand-gray-lt;
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  > span {
    position: relative;
    display: inline-block;
    &:before,
    &:after {
      content: " ";
      position: absolute;
      top: 50%;
      width: 9999px;
      height: 1px;
      background: $brand-gray-md;
    }
  }
}

.banner-line > span:before {
  right: 100%;
  margin-right: 15px;
}

.banner-line > span:after {
  left: 100%;
  margin-left: 15px;
}