// =================================================================== 
// $BUTTONS - this is where all the button styles are created for
// forms and other interface modules that require interaction
// ===================================================================

/**
 * Buttons:
 * `.button` - this is where all the button styles are created for
 * forms and other interface modules that require interaction
 *
 *     @example
 *     button.button 
 *      | button
 */

.button {
    font-family: $segoe-UI-regular;
    @include button($corp-color);
}
.button-block{
  @include button($corp-color);
  width: 100%;
}
.button-small{
  @include button($corp-color);
  padding: 6px 10px;
}