// =================================================================== 
// $BUTTONS - this is where all the button styles are created for
// forms and other interface modules that require interaction
// ===================================================================
// Buttons
//
// Use the button classes on an <code>a</code>, <code>button</code>, or <code>input</code> element.
// 
// Markup: ../snippets/button.html
//
// Styleguide: Components - Buttons
.button {
    @include button($corp-color);
    @include transition(color 0.7s);
    color: $white;
    font-family: $segoe-UI-regular;
    &:focus {
        outline: none;
        color: $corp-color-dark;
    }
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -35px 0 0 -35px;
        width: 70px;
        height: 70px;
        @include border-radius(50%);
        opacity: 0;
        pointer-events: none;
    }
}

.button-click {
    outline: none;
    color: $corp-color-light;
    &:after {
        @include animation(anim-effect-boris 0.3s loop);
    }
}

.be-boris {
    &:after {
        background: rgba($corp-color, 0.1);
    }
}

// Text button
// 
// This is a text based button
// 
// .button-small
// .button-text
// .button-block
// 
// Markup:  ../../snippets/button-text.html
// 
// Styleguide  Components - Buttons - Text
.button-text {
    @include button(transparent);
    font-family: $segoe-UI-regular;
    color: $corp-color;
    &:hover {
        @include transition( background 0.3s ease-in-out);
        color: $corp-color-dark;
        background: transparent;
        text-decoration: underline;
    }
}

// Buttons Block
//
// Your standard button suitable for clicking.
//
// Markup: ../snippets/button-block.html
//
// Styleguide: Components - Buttons - Button-block
.button-block {
    @include button($corp-color);
    width: 100%;
}

// Buttons Small
//
// Your standard button suitable for clicking.
//
// Markup: ../snippets/button-small.html
//
// Styleguide: Components - Buttons - Button-small
.button-small {
    @include button($corp-color);
    padding: 6px 10px;
}

.nv-button-default {
    @include button($surfmist);
    &[disabled],
    &.disabled {
        opacity: .65;
        cursor: not-allowed;
        &:focus,
        &:hover {
            background: $surfmist;
        }
    }
}

.nv-button-primary {
    @include button($bluescope-blue);
    &[disabled],
    &.disabled {
        opacity: .65;
        cursor: not-allowed;
        &:focus,
        &:hover {
            background: $bluescope-blue;
        }
    }
}

.nv-button-secondary {
    @include button($bluescope-bright);
    &[disabled],
    &.disabled {
        opacity: .65;
        cursor: not-allowed;
        &:focus,
        &:hover {
            background: $bluescope-bright;
        }
    }
}

.nv-button-text {
    @include button(transparent);
    @include font-size(18px);
    color: rgba($monument, 0.84);
    &:hover,
    &:focus {
        color: $bluescope-bright;
        background: transparent;
        text-decoration: underline;
    }
    &:active {
        @include transition(background 0.3s ease-in);
        background: rgba($surfgray, 0.54);
    }
    &[disabled],
    &.disabled {
        opacity: .65;
        cursor: not-allowed;
        &:focus,
        &:hover {
            background: transparent;
            color: rgba($monument, 0.84);
            text-decoration: none;
        }
    }
}

.nv-button-small {
    @include font-size(14px);
    padding: 0 6px;
}

.nv-button-large {
    @include font-size(18px);
    padding: 10px 15px;
}

.nv-button-block {
    @include font-size(18px);
    padding: 10px 15px;
    width: 100%;
}

.nv-icon-button {
    @include button($surfmist);
    &:hover,
    &:focus {
        .nv-icon {
            fill: $monument;
        }
    }
    &[disabled],
    &.disabled {
        opacity: .65;
        cursor: not-allowed;
        &:focus,
        &:hover {
            background: $surfmist;
        }
    }
}

.nv-icon-button-primary {
    @include color-state($deep-ocean);
    .nv-icon {
        fill: $surfmist;
    }
    &:hover,
    &:focus {
        .nv-icon {
            fill: $surfmist;
        }
    }
    &[disabled],
    &.disabled {
        opacity: .65;
        cursor: not-allowed;
        &:focus,
        &:hover {
            background: $deep-ocean;
        }
    }
}

.nv-icon-button-secondary {
    @include color-state($bluescope-bright);
    .nv-icon {
        fill: $deep-ocean;
    }
    &:hover,
    &:focus {
        .nv-icon {
            fill: $deep-ocean;
        }
    }
    &[disabled],
    &.disabled {
        opacity: .65;
        cursor: not-allowed;
        &:focus,
        &:hover {
            background: $bluescope-bright;
        }
    }
}

.nv-icon {
    width: 25px;
    height: 25px;
    margin: 0 6px;
    vertical-align: middle;
    fill: $monument;
    &[disabled],
    [disabled],
    .disabled {
        &:focus,
        &:hover {
            fill: $monument;
        }
    }
}

.nv-button-active {
    @include color-state($bluescope-bright);
    .nv-icon {
        fill: $deep-ocean;
    }
}

.nv-icon-lg {
    width: 50px;
    height: 50px;
    margin: 0 6px;
    vertical-align: middle;
    fill: $monument;
    &[disabled],
    [disabled],
    .disabled {
        &:focus,
        &:hover {
            fill: $monument;
        }
    }
}