/* ===========$Form Styles========================= */

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='search'] {
    @include border-radius(0);
    background: #f4f4f4;
}

textarea {
    @include border-radius(0);
    background: #f4f4f4;
}

select {
    @include border-radius(0);
    background: #f4f4f4;
}

/// Overwrite to boostraps borders on all elements using this class
.form-control {
    @include border-radius(0);
    background: #f4f4f4;
    @include font-size(14px);
}
