// =================================================================== 
// $List-Group - CIE default list group styles
// ===================================================================

.list-group {
  .list-group-item {
    position: relative;
    display: block;
    padding:$common-padding;
    margin-bottom: -1px;
    background-color: #fff;
    border: none;
  }
  .list-group-item-heading {
    border-bottom: 1px solid $brand-gray-md;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 20px;
  }
}
