// <reference path="../base/config.scss" />
// <reference path="../base/mixins.scss" />

// =================================================================== 
// $Pagination - CIE pagination styles go here
// ===================================================================


.cie-pagination {
  >li {
    background: none;
  }
}

.cie-pagination>li:first-child>a,
.cie-pagination>li:first-child>span {
  margin-left: 0;
  @include border-radius(0);
}

.cie-pagination>li>a,
.cie-pagination>li>span {
  position: relative;
  float: none;
  padding: 6px 12px;
  margin-left: 0;
  line-height: 1.42857143;
  color: $brand-gray-dk;
  text-decoration: none;
  background: none;
  border: none;
}

.cie-pagination>li>span.current {
  color: $brand-blue;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  z-index: 3;
  color: $brand-blue;
  background: none;
  border: none;
}
