// <reference path="../base/config.scss" />
// <reference path="../base/mixins.scss" />

//=================================================================== 
// $Panels - Default Panel Styles
//===================================================================


.tile-container {
  margin-top: ce(20px);
}

.panel {
  box-shadow: $brand-box-shadow;
}

.panel-cie {
  border: 0;
  @include border-radius(0px);
  padding: 10px 0;
  border-bottom: 1px solid rgba($brand-dark, 0);
  min-height: ce(320px);
  >.panel-heading {
    @include border-radius(0px);
    border-bottom: 1px solid $brand-gray-md;
    color: $brand-gray-dk;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    position: relative;
    .panel-button {
      // top: 0;
      // bottom: -3px;
      bottom: -0.975em;
      right: 15px;
      position: absolute;
    }
  }
  .panel-title {
    margin-top: ce(10px);
    margin-bottom: ce(10px);
    @include font-size(22px);
    color: $brand-gray-dk;
  }
  .panel-body {
    padding: 0;
    color: $brand-gray-dk;
    h3 {
      color: $brand-blue;
    }
  }
  >.table-responsive:last-child>.table:last-child,
  >.table:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  >.cie-list-group .list-group-item,
  >.panel-collapse>.cie-list-group .list-group-item {
    @include border-radius(0);
    // border-bottom: 1px solid $brand-gray-md;
    border-bottom: none;
  }
}`
.next-steps-panel{
  min-height: 100%;
  .panel-heading{
    border-bottom: 0;
  }
}

.join-conversation-container{
  .panel-cie{
    min-height: 100%;
  }
}

// =================================================================== 
// $Panels Notifications - Notification Panel styles
// ===================================================================

.Panel-notifications {
  .notPanelHead {
    background-image: none;
    background-color: $brand-blue;
    @include border-radius(0);
    &:hover {
      cursor: pointer;
    }
  }
  .notPanelGroup {
    margin-bottom: 10px;
  }
  .notPanelBody {
    @include border-radius(0);
    font-size: 16px;
    color: $brand-gray-dk;
  }
  .cie_notificationBigTitle {
    color: $brand-gray-lt;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Segoe UI Light';
  }
}
