//=================================================================== 
// $SVG - Styles for SVGs go here
//===================================================================


.test-svg {
  height: 150px;
}

.check-mark-svg {
  // width: 250px;
  // height: 250px;
  polygon {
    fill: $corp-color;
  }
}
