// =================================================================== 
// $Tables - Table styles go here
// ===================================================================

// Tables
// 
// This is where the `.table` styles go
// 
// .table-striped - for tables that need zebra striping
// .table-bordered - bordered 
// 
// Markup: ../snippets/table.html
// 
// Styleguide: Components - Tables
.table {
  >tbody>tr>td,
  >tbody>tr>th,
  >tfoot>tr>td,
  >tfoot>tr>th,
  >thead>tr>td,
  >thead>tr>th {
    padding: $common-padding;
    line-height: 1.42857143;
    vertical-align: top;
    margin-top: 0;
  }
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: $gray;
}
