/* Grid Box Styling */

.grid-box {
    margin: 15px auto;
    list-style: none;
    text-align: center;
    > ul {
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0;
        padding: 15px 15px 15px 0;
        text-align: left;
        position: relative;
        list-style: none;
        div {
            position: relative;
            margin: 0;
            width: 450px;
            height: 430px;
        }
        img {
            padding: 10px 0px;
            width: 100%;
            height: 150px;
        }
        h3 {
            font-family: $segoe-UI-semibold;
            margin-top: 0px;
        }
    }
    figure {
        position: relative;
        margin: 0;
        width: 450px;
        height: 430px;
        img {
            max-width: 100%;
            display: block;
            position: relative;
        }
        figcaption {
            position: absolute;
            top: 0;
            left: 0;
            padding: 15px;
            color: #fff;
            text-align: center;
        }
        h3 {
            text-align: center;
        }
        span {
            margin: 0 10px;
        }
    }
}

.gb-style-1 figure {
    overflow: hidden;
    img {
        -webkit-transition: -webkit-transform 0.4s;
        transition: -webkit-transform 0.4s;
        transition: transform 0.4s;
    }
    figcaption {
        width: 100%;
        top: auto;
        bottom: 0;
        opacity: 0;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
        -webkit-transition: -webkit-transform 0.4s;
        transition: -webkit-transform 0.4s;
        transition: transform 0.4s;
    }
}

.gb-style-1 figure:hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}

.gb-style-1 figure figcaption a:hover {
    background: $green;
}
