//=================================================================== 
// $Info-Block - Info blocks are useful for small blurbs of text
// that inform users about a task or guides them through a process
// ===================================================================

.info-block-container {
  @include flexbox();
  @include flex-flow(column, wrap);
  flex-direction: column;
  flex-wrap: wrap;
  @include justify-content(center);
  align-content: center;
  @include flexpoint-sm {
    @include flex-flow(row, wrap);
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.info-block {
  // @include flex(1);
  width: 70vw;
  background: $brand-white;
  box-shadow: $brand-box-shadow;
  padding:$common-padding;
  margin: 20px 15px;
  // position: relative;
  a {
    text-decoration: none;
  }
  p{
    @include font-size(18px);
  }
  @include flexpoint-sm{
    width: 50vmin;
  }
}

.info-block-header {
  text-align: center;
  @include font-size(40px);
  font-family: $brand-typeface-Light;
}

.info-bar {
  background: $brand-white;
  padding: 5px;
}
