// <reference path="../base/config.scss" />
// <reference path="../base/mixins.scss" />

// =================================================================== 
// $pricing Table - section info
// ===================================================================

.pricing-table-container {
  display: flex;
  align-self: flex-start;
  flex-flow: column wrap;
  margin: 0;
  padding: 0;
}

.pt-heading {
  background: $gray;
  @include font-size(20px);
  color: dt($gray);
  padding: 10px;
  margin-bottom: 0;
}

.pt-content {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.price-section {
  background: $corp-color;
  padding: 7px 10px;
  flex-grow: 2;
  sup {
    @include font-size(20px);
    position: relative;
    top: -20px;
    &:first-child {
      @include font-size(30px);
      position: relative;
      top: -8px;
    }
  }
  h4 {
    color: dt($corp-color);
  }
}

.list-section {
  color: dt(lighten($gray-light, 25%));
  flex-grow: 1;
  ul {
    list-style: none;
    height: 100%;
  }
  li {
    background: lighten($gray-light, 50%);
    padding: 10px 15px;
    margin-left: -2.5em;
    &:nth-child(2) {
      background: lighten($gray-light, 40%);
    }
    &:nth-child(3) {
      background: lighten($gray-light, 30%);
    }
  }
}

.amount {
  color: dt($corp-color);
  @include font-size(50px);
  font-family: $segoe-UI-light;
  text-align: center;
}