// <reference path="../base/config.scss" />
// <reference path="../base/mixins.scss" />

//=================================================================== 
// $Status - status indicators are used inside of the tables under the 
// columns labeled Status. This is used instead of icons because its
// nice to use CSS instead of loading images.
//===================================================================

.status {
  @include border-radius(50%);
  display: inline-block;
  width: ce(20px);
  height: ce(20px);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

.status-created {
  background: $white;
  border: 2px solid $corp-color-dark;
}

.status-closed {
  // background: $gray-md;
  background: $corp-color-dark;
}

.status-more-info{
  background: $red;
}
.status-pending,.status-in-progress {
  // background: $yellow;
  background: $yellow;
}

.status-reopened, .status-opened {
  // background: $red;
  background: lighten($blue, 15%);
}

.status-solution {
  // background: $blue;
  background: $green;
}


