/*
=================================================================== 
 $Flex-Items - This is where the flexbox module styles are created
 these are functionality but they are new features and can be prone
 to act weird on older browsers (Don't use if supporting IE9)
===================================================================
*/

.flex-header {
  @include flexbox;
  @include flex-flow(column, wrap);
  @include justify-content(flex-start);
  align-self: center;
  @include flexpoint-md {
    @include flex-flow(row, wrap);
  }
  align-items: center;
  align-content: center;
}

.flex-header-back {
  @include flex(1);
  align-self: center;
  @include flexpoint-sm {
    @include flex(auto);
    /// padding-top: 0;
  }
  /// padding-bottom: ce(10px);
}

.flex-header-title {
  @include flex(3);
  @include flexpoint-sm {
    @include flex(2);
    /// padding-top: 0;
  }
  /// padding-top: ce(10px);
}

/// Flexible container 
/// this is used to center something no matter what the browser width is. Hooray!
.flex-container {
  @include flexbox;
  @include flex-flow(row, wrap);
  flex-wrap: wrap;
  @include justify-content(center);
  @include breakpoint-sm {
    @include flex-flow(column, wrap);
  }
}

%flex-list-base {
  list-style: none;
  @include flexbox;
  @include flex-flow(column, wrap);
  /// align-content: center;
  margin: 0;
  padding: 0;
  li {
    margin: 10px 15px;
  }
  @include flexpoint-sm {
    @include flex-flow(row, wrap);
  }
}

.flex-item {
  @include flex(1);
}

.flex-list {
  @extend %flex-list-base;
  @include justify-content(center);
}

.flex-list-spaced {
  @extend %flex-list-base;
  @include justify-content(space-around);
}

.flex-list-between {
  @extend %flex-list-base;
  @include justify-content(space-between);
}

.flex-start {
  @include justify-content(flex-start);
}

.flex-center {
  @include justify-content(center);
}

.flex-between {
  @include justify-content(space-between);
}

.flex-around {
  @include justify-content(space-around);
}

.flex-end {
  @include justify-content(flex-end);
}

.flex-items {
  @include flex(1);
  padding-right: 1em;
  padding-left: 1em;
  margin-right: 16px;
  margin-left: 16px;
}

.video-list {
  @extend %flex-list-base;
  @include justify-content(space-around);
  .video-list-item {
    @include flex(0 1 30%)
  }
}

.solo-wizard-step {
  @include flexbox;
  @include justify-content(flex-end);
  align-items: center;
}

.flex-nav {
  @include flexbox;
  @include flex-flow(row, wrap);
  @include justify-content(flex-end);
  @include align-items(center);
  >li {
    margin: 0;
    padding: 10px 15px;
    @include flexbox;
    &:hover {
      background: lighten($brand-dark, 15%);
    }
  }
  list-style: none;
  margin: 0;
  padding: 0;
}


.workloads-container {
    @include flexbox;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    height: 300px;
    li {
        margin: 10px 15px;
    }
    @include breakpoint-lg {
        margin-top: 150px;
    }
}
.wkl-nav-item {
    @include breakpoint-lg {
        &:nth-child(2) {
            align-self: flex-end;
        }
        &:nth-child(3) {
            align-self: center;
        }
        &:nth-child(4) {
            align-self: flex-end;
            margin-left: -100px;
        }
        &:nth-child(5) {
            align-self: center;
            margin-top: -80px;
            margin-left: -60px;
            margin-right: 150px;
        }
        &:nth-child(6) {
            align-self: center;
            margin-top: -80px;
        }
        &:nth-child(7) {
            align-self: flex-end;
            margin-top: -80px;
            margin-left: -60px;
        }
        &:nth-child(8) {
            align-self: center;
            margin-top: 110px;
        }
    }
}

.wkl-icon {
    cursor: pointer;
    width: 55px;
    height: 55px;
    display: block;
    @include border-radius(50%);
}

.wkl-icon-1 {
    background: url('../images/icons/collaboration-detail icon.png') no-repeat center, $corp-color;
    @extend %wkl-base;
    &:hover {
        background: url($icon-plus) no-repeat center, $corp-color-dark;
        @extend %wkl-base;
    }
}

.wkl-icon-2 {
    background: url('../images/icons/device management-detail icon.png') no-repeat center, $corp-color;
    @extend %wkl-base;
    &:hover {
        background: url($icon-plus) no-repeat center, $corp-color-dark;
        @extend %wkl-base;
    }
}

.wkl-icon-3 {
    background: url('../images/icons/email-detail icon.png') no-repeat center, $corp-color;
    @extend %wkl-base;
    &:hover {
        background: url($icon-plus) no-repeat center, $corp-color-dark;
        @extend %wkl-base;
    }
}

.wkl-icon-4 {
    background: url('../images/icons/communications-detail icon.png') no-repeat center, $corp-color;
    @extend %wkl-base;
    &:hover {
        background: url($icon-plus) no-repeat center, $corp-color-dark;
        @extend %wkl-base;
    }
}

.wkl-icon-5 {
    background: url('../images/icons/identity-detail icon.png') no-repeat center, $corp-color;
    @extend %wkl-base;
    &:hover {
        background: url($icon-plus) no-repeat center, $corp-color-dark;
        @extend %wkl-base;
    }
}

.wkl-icon-6 {
    background: url('../images/icons/application management-detail icon.png') no-repeat center, $corp-color;
    @extend %wkl-base;
    &:hover {
        background: url($icon-plus) no-repeat center, $corp-color-dark;
        @extend %wkl-base;
    }
}

.wkl-icon-7 {
    background: url($icon-productivity) no-repeat center, $corp-color;
    @extend %wkl-base;
    &:hover {
        background: url($icon-plus) no-repeat center, $corp-color-dark;
        @extend %wkl-base;
    }
}

.wkl-icon-8 {
    background: url('../images/icons/data security-detail icon.png') no-repeat center, $corp-color;
    @extend %wkl-base;
    &:hover {
        background: url($icon-plus) no-repeat center, $corp-color-dark;
        @extend %wkl-base;
    }
}

%wkl-base {
    display: block;
    background-size: 45%;
    @include breakpoint-lg {
        background-size: 50%;
    }
