// <reference path="../base/config.scss" />
// <reference path="../base/mixins.scss" />

// =================================================================== 
// $footer - default footer styles for the project
// ===================================================================

.footer {
    background: tint($gray-light, 55%);
    position: absolute;
    bottom: 0;
    height: $footer-height;
    width: 100%;
    color: dt($gray-light);
    a{
    	text-decoration: none;
    }
}
.footer-nav{
	padding:$common-padding;
	@include breakpoint-sm{
		padding: 0 15px;
	}
}