// =================================================================== 
// $Grid Systems - This is where the experimental grid  spec is 
// created. Still a huge Work in Progress using the new and much needed
// grid spec
// ===================================================================
$row: unquote('[row]');
$column: unquote('[col]');
.grid-base {
    width: 100%;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, $column 1fr);
    grid-template-rows: repeat(5, $row auto);
    grid-column-gap: 1em;
    grid-row-gap: 15px;
    // grid-template-rows: 
    //  [row-header-start] auto
    //  [row-content-start] auto
    //  [row-sidebar-start] auto
    //  [row-footer-start] auto [row-footer-end];
    // grid-template-areas:
    // 	"header"
    // 	"content"
    // 	"sidebar"
    // 	"footer";
    @include flexpoint-sm {
        // grid-template-columns: 2fr 4fr;
        // grid-row-gap: 20px;
        // grid-column-gap: 2em;
        // grid-template-areas:
        // 	"header header"
        // 	"sidebar content"
        // 	"footer footer"
    }
}

.article-title {
    // background-color: $corp-color;
    // color: dt($corp-color);
    padding: $common-padding;
    margin: 0;
    grid-column: col / span 12;
    grid-row: row;
}

.sidebar-left {
    background-color: $gray-light;
    padding: $common-padding;
}

.article-content {}

.article-footer {
    background: $corp-color-dark;
    color: dt($corp-color-dark);
    padding: 10px;
}

%box-base {
    padding: 10px;
    border: 2px solid $gray-light;
}

$box-list: 'box';
@for $i from 1 through 12 {
    .#{$box-list}#{$i} {
        @extend %box-base;
    }
}

.box1 {
    background: tint($corp-color, 20%);
    grid-column: col 1 /span 4;
    grid-row: row 2;
}

.box2 {
    grid-column: col 5 / span 4;
    grid-row: row 2;
}

.box3 {
    grid-column: col 9 / span 4;
    grid-row: row 2;
}

.box4 {
    grid-column: col / span 8;
    grid-row: row 3;
}

.box5 {
    grid-column: col 9 / span 4;
    grid-row: row 3;
}

.box6 {
    grid-column: col / span 3;
    grid-row: row 4 / span 2;
}

.box7 {
    grid-column: col 4 / span 3;
    grid-row: row 4 / span 3;
}

.box8 {
    background: tint($corp-color, 20%);
    grid-column: col 7 / span 3;
    // grid-row: row 4;
}

.box9 {
    grid-column: col 10 / span 3;
    // grid-row: row 4;
}

.box10 {
    grid-column: col / span 6;
    // grid-row: row 5;
}

.box11 {
    grid-column: col 7 / span 6;
    // grid-row: row 5;
}