// =================================================================== 
// $Navigation - default navigation styles for the project go here
// currently piggybacking on boostrap for most of the nav structure
// ===================================================================

.navbar-inverse {
    .ft-nav {
        border-right: 1px solid $gray-light;
        >li {
            >a {
                color: $white;
            }
        }
        &:last-child {
            border-right: 0;
        }
    }
}

.ft-nav {
    border-right: 1px solid $gray-light;
    >li {
        >a {
            color: $white;
        }
    }
    &:last-child {
        border-right: 0;
    }
}

.onboarding-link {
    background: $corp-color;
    color: dt($corp-color);
    a {
        color: dt($corp-color);
    }
}
