////
/// @group Variables
////

//==============================
/// @group Color variables
//==============================

$black: rgba(0,0,0,1) !default;
$white: rgba(255,255,255,1) !default;
$red: rgba(164,0,2,1) !default;
$orange: rgba(219,58,0,1) !default;
$yellow: rgba(247,233,140,1) !default;
$blue: rgba(0,120,215,1) !default;
$green: rgba(109,181,94,1) !default;
$purple:rgba(92,0,92,1) !default;

/// Base colors for our dark values in the default theme this is mostly for text setting.
$gray-base: $black !default;
$gray: rgba(131,130,130,1) !default;
$gray-light: lighten($gray, 15%) !default;
$gray-dark: darken($gray, 15%) !default;

// Default Theme Colors - These are the base colors that start any project using the initial theme. They are pretty generic right now but will be revitalized in the v1.0.1 of this doucment
$corp-color: $blue !default;

/// Darker version of the main theme color. Created using shade and tint functions fromt the @group functions list
$corp-color-dark: shade($corp-color, 15%) !default;
///
$corp-color-light: tint($corp-color, 15%) !default;
///
$corp-color-second: $white !default;
///
$corp-color-second-dark: shade($corp-color-second, 15%) !default;
///
$corp-color-second-light: tint($corp-color-second, 15%) !default;

//==============================
///Typography variables
//==============================

/// Base Font Stack
$segoe-UI-regular: (
  'Segoe UI', 
  'Helvetica', 
  'Arial', 
  sans-serif,
  ) !default;
/// Header Font Stack
$segoe-UI-light: (
  'Segoe UI Light', 
  'Helvetica', 
  'Arial', 
  sans-serif,
  ) !default;
/// Sub Header Font Stack
$segoe-UI-semilight: (
  'Segoe UI Semilight', 
  'Helvetica', 
  'Arial', 
  sans-serif,
  ) !default;
/// Sub-Sub-header/Caption Font Stack
$segoe-UI-semibold: (
  'Segoe UI Semibold', 
  'Helvetica', 
  'Arial', 
  sans-serif,
  ) !default;

/// Declare your fonts sizes and base color here
$base-font-size: 16px !default;
$base-font-family: $segoe-UI-regular !default;
$base-font-color: $gray-dark !default;

///==============================
///Layout variables
///==============================

/// FONTS: Default box-sizing for the projects
$default-box-sizing: border-box !default;

/// BORDERS: Default border-styles  for use with a project using this stylesheet
$base-border-radius: 0px !default;
$rounded-border-radius: 50% !default;
$base-border-color: $gray !default;

/// BOX-SHADOW:
$default-box-shadow: 0px 1px 5px rgba($gray, 0.2) !default;

/// This is used with navigation menus that are using fixed positioning
$fixed-nav-body-padding: 50px !default;

/// FOOTER Variables
$footer-height: 70px !default;
$margin-bottom: $footer-height !default;

//==============================
///Image variables - Images instead of writing paths to images in the partials 
/// make them variables in order keep consistent 
/// paths and easily change out images in large css files.
//==============================
$arrow-right: '../images/icons/svg/arrow-right-icon.svg' !default;
$icon-plus:'../images/icons/plus-icon.png' !default;
$icon-thumb-print:'../images/icons/identity-detail icon.png' !default;
$icon-app-management:'../images/icons/application management-detail icon.png' !default;
$icon-productivity:'../images/icons/productivity-detail icon.png' !default;
$icon-security:'../images/icons/data security-detail icon.png' !default;

$home-bg: "/content/images/OFF14_Eve_LoganA_Max_Mercedes_02.png" !default;
$icons: "/content/images/icons.png" !default;
$learn-bg: "/content/images/about-cie.jpg" !default;
$community-bg: "/content/images/community.png" !default;
$help-bg: "/content/images/masthead-image-4.png" !default;
$get-started-girl: "/content/images/girl-on-computer.png" !default;
$get-started-computer: "/content/images/hand-holding-computer.png" !default;
$get-started-handshake: "/content/images/man-woman-shaking-hands.png" !default;
$get-started-learn-more: "/content/images/learn-more-icon.png" !default;
$get-started-help: "/content/images/help-icon.png" !default;
$gs-help-bg: "/content/images/help-icon.png" !default;
$gs-learn-bg: "/content/images/learn-more-icon.png" !default;

/// NOTE: the value '!default' is used to define base values.
///If no value is given to a variable in another theme file the above values will be used instead of having an undeclared variable.
