// =================================================================== 
// $SHAME - This is where are the quick fix styles go when they don't
// have an official home yet. This file is meant to be checked for 
// refactoring regularly
// ===================================================================
.video-full {
    @include translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.video-caption {
    z-index: 2;
    position: absolute;
    color: dt($corp-color-dark);
    background: linear-gradient(rgba($blue, 0.8), rgba($blue, 0.8));
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.video-container {
    background: $corp-color-dark;
}

.hva-list {
    @include flexbox;
    @include flex-flow(row, wrap);
    @include justify-content(center);
    @include align-content(flex-start);
    list-style: none;
    margin: 10px;
    padding: 15px;
}

.hva-list-item {
    margin: 0;
    padding: 0 20px;
    background: $corp-color-second;
    width: 40vw;
    min-height: 20vh;
}

.sloped-left {
    @include prefix((clip-path: polygon(0px 0px, 688px -1px, 768px 191px, 0px 190px)));
    background: $corp-color-dark;
}

.sloped-right {
    @include prefix((clip-path: polygon(0px -10px, 768px 0px, 768px 191px, 84px 192px)));
    background: $gray-light;
    margin-left: -4.7%;
}

.sloped-reverse-left {
    @include prefix((clip-path: polygon(0px 0px, 765px -1px, 685px 192px, 0px 190px)));
    background: $gray-lighter;
}

.sloped-reverse-right {
    @include prefix((clip-path: polygon(83px 0px, 768px 0px, 768px 191px, 3px 192px)));
    background: $corp-color-light;
    margin-left: -4.7%;
}

.nv-example {
    background: $surfmist;
    min-height: ce(750px);
    padding: 10px;
    width: 100%;
}

.linked-input-A {
    &:after {
        content: "";
        display: inline-block;
        position: absolute;
        right: 0;
        top: 10px;
        border-top: 1px solid $monument;
        border-right: 1px solid $monument;
        width: 8%;
        height: 50%;
    }
}

.linked-input-B {
    &:after {
        content: "";
        display: inline-block;
        position: absolute;
        right: 0;
        top: 3;
        border-bottom: 1px solid $monument;
        border-right: 1px solid $monument;
        width: 8%;
        height: 50%;
    }
}

.link-icon-container {
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
}

.link-icon {
    position: absolute;
    bottom: -5px;
    right: -15px;
    margin: 0;
    padding: 0;
}

.flex-test {
    @include flexbox;
    @include flex-flow(row, wrap);
    @include align-content(space-between);
}

.profile-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pn-item {
    display: inline-block;
    vertical-align: middle;
}

.pn-link {
    color: $surfmist;
    &:hover {
        color: $surfgray;
    }
}
