////
/// @author Darren Sorrels
/// @group Theme-1
////

//==============================
// Color variables
//==============================

/// White
/// @type Color
$white: #fff;

/// blue
/// @type Color
$blue: #0078D7;

/// gray
/// @type Color
$gray: #4d4d4d;


/// purple
/// @type Color
$purple: #5C005C;

/// gray light
/// @type Color
$gray-light: lighten($gray, 15%);

/// gray dark
/// @type Color
$gray-dark: darken($gray, 15%);


/// Theme 1 Primary color
/// @type Color
$corp-color: $blue;

/// Theme 1 Primary color dark
/// @type Color
$corp-color-dark: darken($corp-color, 15%);


/// Theme 1 Primary color light
/// @type Color
$corp-color-light: lighten($corp-color, 15%);

/// Theme 1 secondary color
/// @type Color
$corp-color-second: $white;

/// Theme 1 secondary color dark
/// @type Color
$corp-color-second-dark: darken($corp-color-second, 15%);


/// Theme 1 secondary color light
/// @type Color
$corp-color-second-light: lighten($corp-color-second, 15%);

//==============================
// Typography variables
//==============================

/// Base Font Stack
/// @type List
$segoe-UI-regular: (
  'Segoe UI', 
  'Helvetica', 
  'Arial', 
  sans-serif,
  );


/// Header Font Stack
/// @type List
$segoe-UI-light: (
  'Segoe UI Light', 
  'Helvetica', 
  'Arial', 
  sans-serif,
  );

/// Sub Header Font Stack
/// @type List
$segoe-UI-semilight: (
  'Segoe UI Semilight', 
  'Helvetica', 
  'Arial', 
  sans-serif,
  );

/// Sub-Sub-header/Caption Font Stack
/// @type List
$segoe-UI-semibold: (
  'Segoe UI Semibold', 
  'Helvetica', 
  'Arial', 
  sans-serif,
  );

/// Base font size
/// Declare your fonts sizes and base coloring here anything not defined here will use the default settings
/// @type number
$base-font-size: 14px;

/// Base Font Family
/// @requires {variable} $segoe-UI-regular
/// @type List
$base-font-family: $segoe-UI-regular !default;

/// Base Font Color
/// @requires {variable} $gray
/// @type Color
$base-font-color: $gray !default;

//==============================
// Layout variables
//==============================

/// Base Border Radius
/// Default border-styles  for use with a project using this stylesheet
/// @group Borders
/// @type Number
$base-border-radius: 0px !default;

/// Rounded Border Radius
/// This radius is used for things that need to be circles
/// @group Borders
/// @type Number
$rounded-border-radius: 50% !default;

/// Base Border Color
/// Default color used for borders
/// @requires {variable} $gray
/// @group Borders
/// @type Color
$base-border-color: $gray !default;

/// Box-shadow
/// @type String
$default-box-shadow: 0px 1px 5px rgba($gray, 0.2) !default;

/// This is used with navigation menus that are using fixed positioning
/// @type Number
$fixed-nav-body-padding: 50px !default;

/// Footer Height
/// @group Footer Variables
/// @type Number
$footer-height: 70px !default;

/// Margin Bottom
/// @group Footer Variables
/// @requires {variable} $footer-height
/// @type String
$margin-bottom: $footer-height !default;
 

//============================================================
// Image variables - Images instead of writing paths to images in the 
// partials make them variables in order keep consistent 
// pathing and easily change out images.
//============================================================


// This is where you import the partial file and default config variables this must be placed at the end of the theme file
@import '../../main';
