/*
=================================================================== 
 $Masthead - Mastheads are used when full screen images are needed
 the image is used for titles or call to action page headers
===================================================================
*/

.masthead-banner {
    background: linear-gradient(rgba($blue, 0.8), rgba($blue, 0.8)), url($img-placeholder);
    background-position: top center;
    @extend %masthead-base;
}

%masthead-base {
    @include prefix((background-blend-mode: multiply));
    @include prefix((background-size: cover));
    background-repeat: no-repeat;
    height: 200px;

    @include breakpoint-sm {
        height: 100%;
    }
}

.masthead-info-container {
    color: $white;

    @include breakpoint-lg {
        margin-top: 100px;
    }
}
