/*
=================================================================== 
 $Wizards - This is where all wizard styles go. 
 This module can be abstracted more but for now its pretty versatile
===================================================================
*/

.wizard-form-container {
  background: $white;
  box-shadow: $default-box-shadow;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding: 10px 15px;
  min-height: 30vmax;
}

.wizard-title {
  color: $blue;
  text-align: center;
}

.wizard-form {
  @include flexbox;
  @include justify-content(center);
  @include flex-flow(column, wrap);
  @include flexpoint-sm {
    @include flex-flow(row, wrap);
    align-items: center;
  }
  padding: 0;
  /* For IE since it hates changes and doesnt like viewport units :-( */
  margin-top: 20px;
  /* For IE since it hates changes and doesnt like viewport units :-( */
  margin-bottom: 30px;
  margin-top: 1vmax;
  margin-bottom: 1.5vmax;
}

.wizard-form-item {
  margin: 10px 15px;
}

.wizard-button-list {
  @include flexbox;
  @include flex-flow(column, wrap);
  @include justify-content(center);
  @include flexpoint-sm {
    @include flex-flow(row, wrap);
    @include justify-content(space-between);
  }
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 10px 15px;
    align-self: center;
  }
  .wizard-back-button {
    @include flexpoint-sm {
      order: 1;
    }
    order: 3;
  }
  .wizard-cancel-button {
    @include flexpoint-sm {
      order: 2;
    }
    order: 4;
  }
  .wizard-next-button {
    @include flexpoint-sm {
      order: 3;
    }
    order: 2;
  }
  .wizard-finish-button {
    @include flexpoint-sm {
      order: 4;
    }
    order: 1;
  }
}

.wizard-block-list {
  @include flexpoint-sm {
    @include flex-flow(row, wrap);
    @include justify-content(center);
  }
  @include flexbox;
  @include justify-content(center);
  @include flex-flow(column, wrap);
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  li {
    @include flexbox;
    @include flexpoint-sm {
      width: 50%;
    }
    @include flexpoint-md {
      /// width: 33.33%;
      width: 30.33%;
    }
    margin: 10px 15px;
    width: auto;
    &:last-child {
      align-self: flex-end;
    }
  }
}

.wizard-block {
  @include flexbox;
  @include flex-direction(column);
  @include transition(border 0.3s ease-in);
  @include flexpoint-sm {
    /// width: 45vmin;
    align-self: auto;
  }
  background: $white;
  border: 2px solid darken($gray-dark, 10%);
  padding: 10px 15px;
  /// align-self: center;
  height: auto;
  /// width: 60vw;
}

.wizard-block-img {
  text-align: center;
  margin-top: 20px;
}

.wizard-block-content {
  @include flexbox;
  @include flex(1 0 auto);
  @include flex-direction(column);
  color: $gray-dark;
  p {
    @include flex(1 0 auto);
  }
}

.wizard-block-title {
  text-align: center;
  color: $gray-dark;
}

.wizard-intro-text {
  @include flexpoint-sm {
    width: 60vmin;
  }
  width: 30vmax;
  padding-bottom: 2vmax;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
