////
/// @author Darren Sorrels
/// @group Variables
////

/// Black
/// @group Color variables
/// @type Color
$black: rgba(0,0,0,1) !default;

/// White
/// @group Color variables
/// @type Color
$white: rgba(255,255,255,1) !default;

/// Red
/// @group Color variables
/// @type Color
$red: rgba(164,0,2,1) !default;

/// Orange
/// @group Color variables
/// @type Color
$orange: rgba(219,58,0,1) !default;

/// Yellow
/// @group Color variables
/// @type Color
$yellow: rgba(247,233,140,1) !default;

/// Blue
/// @group Color variables
/// @type Color
$blue: rgba(0,120,215,1) !default;

/// Green
/// @group Color variables
/// @type Color
$green: rgba(109,181,94,1) !default;

/// Purple
/// @group Color variables
/// @type Color
$purple:rgba(92,0,92,1) !default;


// Base colors for our dark values in the default theme this is mostly for text setting.

/// Gray Base
/// @group Color variables
/// @type Color
$gray-base: $black !default;

/// Gray
/// @group Color variables
/// @type Color
$gray: rgba(131,130,130,1) !default;

/// Gray Light
/// @group Color variables
/// @type Color
$gray-light: lighten($gray, 15%) !default;

/// Gray Dark
/// @group Color variables
/// @type Color
$gray-dark: darken($gray, 15%) !default;

// Status colors sass map for use in various state based components, ie. buttons, alerts, etc.
$colors: ( 
  blue      : $blue,
  red       : $red,
  green     : $green,
  yellow: $yellow,
  gray      : $gray,
  dark-gray : $gray-dark
);

// Default Theme Colors - These are the base colors that start any project using the initial theme. They are pretty generic right now but will be revitalized in the v1.0.1 of this doucment

/// Primary-color
/// @group Color variables
/// @type Color
$corp-color: $blue !default;

// Darker version of the main theme color. Created using shade and tint functions fromt the @group functions list

/// Primary color dark
/// @requires {function} shade
/// @group Color variables
/// @type Color
$corp-color-dark: shade($corp-color, 15%) !default;

/// Primary color light
/// @requires {function} tint
/// @group Color variables
/// @type Color
$corp-color-light: tint($corp-color, 15%) !default;

/// Secondary color 
/// @group Color variables
/// @type Color
$corp-color-second: $white !default;

/// Secondary color dark
/// @requires {function} shade
/// @group Color variables
/// @type Color
$corp-color-second-dark: shade($corp-color-second, 15%) !default;

/// Secondary color light
/// @requires {function} tint
/// @group Color variables
/// @type Color
$corp-color-second-light: tint($corp-color-second, 15%) !default;

//==============================
// Typography variables
//==============================

/// Base Font Stack
/// @type List
$segoe-UI-regular: (
  'Segoe UI', 
  'Helvetica', 
  'Arial', 
  sans-serif,
  ) !default;

/// Header Font Stack
/// @type List
$segoe-UI-light: (
  'Segoe UI Light', 
  'Helvetica', 
  'Arial', 
  sans-serif,
  ) !default;

/// Sub Header Font Stack
/// @type List
$segoe-UI-semilight: (
  'Segoe UI Semilight', 
  'Helvetica', 
  'Arial', 
  sans-serif,
  ) !default;

/// Sub-Sub-header / Caption Font Stack
/// @type List
$segoe-UI-semibold: (
  'Segoe UI Semibold', 
  'Helvetica', 
  'Arial', 
  sans-serif,
  ) !default;

// Declare your fonts sizes and base color here

///Base Font size
/// @type Number
$base-font-size: 16px !default;

/// Base Font Family
/// @requires {variable} segoe-UI-regular
/// @type List
$base-font-family: $segoe-UI-regular !default;

/// Heading Major Font Family
/// @requires {variable} segoe-UI-light
/// @type List
$heading-major: $segoe-UI-light !default;

/// Heading Minor Font Family
/// @requires {variable} segoe-UI-semibold
/// @type List
$heading-minor: $segoe-UI-semibold !default;

/// Base Font Color
/// @requires {variable} $gray-dark
/// @type Color
$base-font-color: $gray-dark !default;

//==============================
// Layout variables
//==============================

/// Border Box Sizing
/// Default box-sizing for the projects
/// @type List
$default-box-sizing: border-box !default;

/// Base Border Radius
/// Default border-styles  for use with a project using this stylesheet
/// @group Borders
/// @type Number
$base-border-radius: 0px !default;

/// Rounded Border Radius
/// This radius is used for things that need to be circles
/// @group Borders
/// @type Number
$rounded-border-radius: 50% !default;

/// Base Border Color
/// Default color used for borders
/// @requires {variable} $gray
/// @group Borders
/// @type Color
$base-border-color: $gray !default;

/// Box-shadow
/// @type String
$default-box-shadow: 0px 1px 5px rgba($gray, 0.2) !default;

// This is used with navigation menus that are using fixed positioning
/// @type Number
$fixed-nav-body-padding: 50px !default;

/// Footer Height
/// @group Footer Variables
/// @type Number
$footer-height: 70px !default;

/// Margin Bottom
/// @group Footer Variables
/// @requires {variable} $footer-height
/// @type String
$margin-bottom: $footer-height !default;

/// Padding Styles
/// @group Layout variables
/// @type Number
$common-padding: 10px 15px !default;

//============================================================================
// Path based variables - instead of writing paths to images and things like that 
// make them variables in order keep consistent 
// paths and easily change out items in large css files.
//=============================================================================

$arrow-right: '../images/icons/svg/arrow-right-icon.svg' !default;

$icons: "/content/images/icons.png" !default;

$img-placeholder: "https://placekitten.com/2000/300" !default;

$segoe-regular-path: '../Fonts/segoeui';
$segoe-semilight-path: '../Fonts/segoeuisl';
$segoe-light-path: '../Fonts/segoeuil';
$segoe-semibold-path: '../Fonts/segoeuisb';

// NOTE: the value '!default' is used to define base values.
// If no value is given to a variable in another theme file the above values will be used instead of having an undeclared variable.
