////
/// @author Darren Sorrels
////
// =================================================================== 
// $Typography - All default styling for typpgraphy should go here
// ===================================================================

// Typography
//
// Headings, paragraphs, blockquotes, lists, and more have some global resets. The resets are handled by the vendor styles 
// from Boostrap. We modify the sizing and font-family here to accomodate the project needs
// 
// Styleguide: CSS - Typography
html {
  // Set the project default type size to 100% (This is usually 16px in most modern browsers)
  font-size: 100%;
  font-family: $base-font-family;
}

// Font-face font stack for custom web fonts using mixin
@include font-face('segoeui', $segoe-regular-path);

@include font-face('segoeuisl', $segoe-semilight-path);

@include font-face('segoeuil', $segoe-light-path);

@include font-face('segoeuisb', $segoe-semibold-path);

// Headings
//
// Markup:  ../../snippets/headings.html
// 
// Styleguide  CSS - Typography - Headings
// Sass map of headings to dynamically create heading structure  and colors to be used

$headings-complex: ( 
  h1: ( 
    font-family: $heading-major,
    color: map-get($colors, blue)),
  h2: ( 
    font-family: $heading-major,
    color: map-get($colors, blue)),
  h3: ( 
    font-family: $heading-minor,
    color: map-get($colors,dark-gray)),
  h4: ( 
    font-family: $heading-minor,
    color: map-get($colors,dark-gray)),
  h5: ( 
    font-family: $heading-minor,
    color: map-get($colors, dark-gray)),
  h6: ( 
    font-family: $heading-minor,
    color: map-get($colors, dark-gray))
);

@each $element,
$style-map in $headings-complex {
  #{$element} {
    @each $property, $value in $style-map {
      #{$property}: $value;
    }
  }
}

h1 {
  @include font-size(32px);
  line-height: 1.25em;
  @include breakpoint-lg {
    @include font-size(48px);
    line-height: 1.05em;
  }
  @include breakpoint-md {
    @include font-size(40px);
    line-height: 1.125em;
  }
}

h2 {
  @include font-size(26px);
  line-height: 1.1538em;
  @include breakpoint-lg {
    @include font-size(36px);
    line-height: 1.25em;
  }
  @include breakpoint-md {
    @include font-size(32px);
    line-height: 1.1538em;
  }
}

h3 {
  @include font-size(22px);
  line-height: 1.136em;
  @include breakpoint-lg {
    @include font-size(28px);
    line-height: 1.25em;
  }
  @include breakpoint-md {
    @include font-size(24px);
    line-height: 1.1363em;
  }
}

h4 {
  @include font-size(18px);
  line-height: 1.111em;
  @include breakpoint-lg {
    @include font-size(18px);
    line-height: 1.222em;
  }
  @include breakpoint-md {
    @include font-size(18px);
    line-height: 1.111em;
  }
}

h5 {
  @include font-size(14px);
  line-height: 1.111em;
  @include breakpoint-lg {
    @include font-size(14px);
    line-height: 1.2em;
  }
  @include breakpoint-md {
    @include font-size(14px);
    line-height: 1.111em;
  }
}

h6 {
  @include font-size(12px);
  line-height: 1.111em;
  @include breakpoint-lg {
    @include font-size(12px);
    line-height: 1.2em;
  }
  @include breakpoint-md {
    @include font-size(12px);
    line-height: 1.111em;
  }
}

// Body Text
//
// This is where we modify the base text size for the entire site. This is modifiable on a theme basis.
// 
// Markup:  ../../snippets/body-text.html
// 
// Styleguide  CSS - Typography - Body Text
body {
  @include font-size($base-font-size);
  color: $base-font-color;
  font-family: $base-font-family;
}

label {
  font-family: $segoe-UI-semibold;
}
