//==================================================================
// $helper classes to be used when you want to tweak other elements 
// but don't want to muddy your CSS
//===================================================================
.font-blue {
    color: $blue;
}

.font-white {
    color: $white;
}

.font-orange {
    color: $orange;
}

.lightGray {
    color: $gray-light;
}

.font-gray {
    color: $gray;
}

.font-bold {
    font-weight: bold;
}

.border-right {
    border-right: 3px solid $corp-color-second;
}

.border-left {
    border-left: 3px solid $corp-color-second;
}

.light-gray-bg {
    background: tint($gray, 30%);
}

.gray-bg {
    background: $gray;
}

.purple-bg {
    background: $purple;
}

// =================================================================== 
// $Layout helpers - margin and padding helpers go here
// ===================================================================
.margin-top-10 {
    margin-top: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-top-30 {
    margin-top: 30px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-left-10 {
    padding-right: 10px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-right-30 {
    padding-right: 30px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-top-45 {
    padding-top: 45px;
}

.padding-right-45 {
    padding-right: 45px;
}

.padding-bottom-45 {
    padding-bottom: 45px;
}

.padding-left-45 {
    padding-left: 45px;
}

.alpha {
    padding-left: 0 !important;
}

.omega {
    padding-right: 0 !important;
}

.link-large {
    @include font-size(22px);
    &:hover {
        text-decoration: none;
    }
}

// This is a cool animation that turns things from black and white to color! Its currently set to the hover action
.bw-clr {
    @include prefix((filter: grayscale(1)), webkit moz ms o);
    &:hover {
        @include prefix((filter: grayscale(0)), webkit moz ms o);
        @include transition(((filter 0.8s ease-in)));
        // Form some reason the webkit prefix used on the transition mixin is not being recognized 
        // in the browser so this is a back up plan. Needs to be assed in the future.
        transition: -webkit-filter 0.3s ease-in;
    }
}

.is-relative {
    position: relative;
}

.is-static {
    position: static;
}

.is-absolute {
    position: absolute;
}
